<style>

.h5{
padding:10px;
font-weight:250;
}
.col-sm{
margin-top:10px;
margin-right:10px;
border:rounded;
}
.container{
    padding:30px;
}
.help-sec{
  padding:30px 50px;
 border-top: inset;
}
.responsive{
width:100%;
height:Auto;
}

.h3{
font-weight:200;
}
</style>

 


<div class="container-fluid hero-pad " style="padding:0px; position:relative;border-bottom:solid;">
  <img id="my-img" src="assets/court.png"  alt="Nature" class="responsive hide1 "/>
      <img id="my-img" src="assets/hero12.png"  alt="Nature" class="responsive hide2"/>

   <div class="top-left " style="color:#1a1a1a;font-weight:500;"">
               <h3 class=" text-center h2 fw-light " >Child Custody made simple!</h3>

       <h3 class=" text-center h4 fw-light" >We prepare all of your documents </h3>
       <div class=" text-center h4 fw-light "style="margin-top:10px;padding-right:-10px;">  and guide you through the entire court process.</div>
       <div class="h4 text-center fw-normal style="margin-top:10px;"> You <b><u>Save Thousands</b></u> of $$$ dollars on costly attorneys!</div>
    <div class="h2 text-center fw-normal">Child Custody Documents for <span style="color:red">$299</span> Flat</div>
    </div>
    
</div>

<div class="container-fluid p-0">

<div class="p-4 container-fluid text-left bg-light">
<h3 class = "display-5 fw-lighter" style="margin-bottom:0px;">Hello, how may we help you? </h3>
</div>




<!----new case section--->



<div class=" container-fluid text-left help-sec bg-light " style="border:none;margin-top:0px;">
<%=link_to 'I would like to open a new child custody case.',new_newcase_path, class:"btn btn-lg rounded btn-outline-success h5"%>
</div>





<!------modify section---->

<div class=" container-fluid text-left help-sec bg-light " style="margin-top:0px;">
<%=link_to 'I would like assistance modifying an existing child custody case.',new_newcase_path, class:"btn btn-lg rounded btn-outline-primary h5 "%>
</div>



<!------response section---->

<div class=" container-fluid text-left help-sec bg-light " style="margin-top:0px;">
<%=link_to 'I have been served and would like assistance filing my response.',new_newcase_path, class:"btn btn-lg rounded btn-outline-danger h5 "%>
</div>




<!------video section---->

<div class="container-fluid" style="border-bottom:solid;">
<div class="container">
 <div class="embed-responsive embed-responsive-16by9">
   <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/582385729"  frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>
</div>

<!------QA section---->


<div class="container-fluid text-center mt-2 " style="border-bottom:solid;" >
    <div class= "text-center display-6">
 Questions and Answers:
  </div>

   <!-- Beggining of vertical button group -->
   <div class="btn-group-vertical ">

   <!-- Button trigger modal -->
<button type="button" class="btn btn-lg rounded btn-primary mt-3" data-bs-toggle="modal" data-bs-target="#btn-1">
  How do courts decide Child Custody?
</button>


<!-- Modal -->
<div class="modal fade" id="btn-1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-secondary" id="exampleModalLabel">The Best-Interests of the Child Standard.</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body class="">
       <ul class="a text-left ">
       <p class="text-left" style="padding-right:10px">Above all else, courts consider the “best interests” of a child when determining custody orders. Courts generally use the following factors to make a child custody decision:</p>
      <li class="bg-secondary text-white" style="padding:0px;">The age of the children.</li>
      <li>Each parents’ wishes.</li>
      <li class="bg-secondary text-white">The history of each parent’s relationship with the child(ren), positive or negative.</li>
      <li >Each parent’s ability to communicate with the other parent on child-related issues</li>
      <li class="bg-secondary text-white">Whether the parents still have a good relationship with each other at the time of the hearing.</li>
      <li>The quality of the relationship between the children and both parents.</li>
      <li class="bg-secondary text-white">Whether each parent is mentally and physically fit to care for children.</li>
      <li>The mental and physical health of the children.</li>
      <li class="bg-secondary text-white">How willing each parent is to facilitate the children’s relationship with the other parent.</li>
      <li>Which parent has been providing the majority of physical care for the children before the divorce/separation.</li>
      <li class="bg-secondary text-white">Each parent’s historical participation in child-related activities, such as medical appointments, sports, and educational activities.</li>
      <li>Whether each parent can provide a stable, loving environment for the children.</li>
      <li class="bg-secondary text-white">The distance between the two parents’ homes.</li>
      <li>Each parent’s work schedule, to the extent it impacts the amount of time the parent can spend with the children.
      </li >
      <li class="bg-secondary text-white">The living accommodations at each parents’ home, including whether one parent resides in the home where the children were raised.</li>
      <li>If the parents can adequately provide for the children's physical needs, emotional wellness, and medical care.
      </li>
      <li class="bg-secondary text-white">How much the children would need to adjust their lives at home, at school, and in the community.</li>
      <li>The wishes of the children, if they are old enough to state their reasoning.</li>
      <li class="bg-secondary text-white">If there is evidence of either parent committing domestic violence, abuse, or neglect.</li>
      <li style="border:none;">A history of substance abuse, criminal activity, or mental health concerns involving either parent.</li>
     </ul>
      </div>
       <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      
      </div>
    </div>
  </div>
</div>
 
 
 

  
      <!-- Button trigger modal -->
<button type="button" class="btn btn-lg rounded btn-primary mt-3" data-bs-toggle="modal" data-bs-target="#btn-2">
  Do I need an attorney for child custody?
</button>
<!-- Modal -->
<div class="modal fade" id="btn-2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl ">
    <div class="modal-content ">
      <div class="modal-header">
        <h5 class="modal-title text-secondary" id="exampleModalLabel">Pro-Se Litigancy is much more feasible in Family Law.</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body bg-secondary bg-gradient text-white">
       <p style="border:solid;">Child Custody can not be purchased nor obtained through expensive overpriced attorneys. First and foremost you must be a responsible, caring and loving parent. With this in mind as well as the fact that the courts are looking to make a decision based on the best interests of the child, having your documents prepared and representing yourself in family court is a real and viable option.If you can demonstrate to the court that you are fit and capable of raising a child and are able to speak for yourself in court, while having your documents professionally prepared by child custody plus then an attorney will not be of much use to you.</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      
      </div>
    </div>
  </div>
</div>
 

      <!-- Button trigger modal -->
<button type="button" class="btn btn-lg rounded btn-primary mt-3" data-bs-toggle="modal" data-bs-target="#btn-3">
        Why is Child Custody Plus Successful?
</button>
<!-- Modal -->
<div class="modal fade" id="btn-3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-secondary" id="exampleModalLabel">We help our clients save thousands of dollars.</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body bg-secondary text-white">
       <p style="border:solid;">
       Child Custody Plus professionally  prepares your documents for you to present to the court. We help you file them either directly through the courts or electronically online. We stand by as the courts process your documents and we let you know what steps you should be taking as your documents move through the family court system.
       </p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      
      </div>
    </div>
  </div>
</div>
 
    
    
     
      
    
           <!-- Button trigger modal -->
<button type="button" class="btn btn-lg rounded btn-primary mt-3   mb-4" data-bs-toggle="modal" data-bs-target="#btn-4">
        Do I qualify for Child Custody Plus+?
</button>
<!-- Modal -->
<div class="modal fade" id="btn-4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-secondary" id="exampleModalLabel">We only work with good parents.</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body bg-secondary text-white">
       <p style="border:solid;">
     Child Custody Plus aims to help Responsible, Loving , Caring, Attentive parents. Who really want to be involved in their children’s life as a positive and contributing role model. Unfortunately if you have pending criminal charges that have not been resolved with the courts or have any type of child protective case against you, we are not able to work with you at this time. We are also unable to assist anyone convicted of a sexual offense.
    </p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      
      </div>
    </div>
  </div>
</div>
    
    
  </div>
  
  </div>






