 <style>
.container{
padding-top:150px;
}
</style>
</div>
 
    <div class="container ">
       <div style="font-weight:250;padding-top:0px;">Since you are married or have a domestic partnership you can either:<br><br>
             1. File for divorce, legal separation, or annulment.</div><br>
             *This option wraps the divorce and child custody into one package and allows you to take care of both things at one time. 
             <div class=" text-center" style="font-weight:250;padding-top:0px;">OR</div><br>
             <div class="" style="font-weight:250;padding-top:0px;">2.If you do NOT want to get a divorce, legal separation, or annulment, you can start a case called a Petition for Custody and Support of Minor Children.This lets the court make custody and visitation orders and other orders.
       </div>
             <div style="padding-bottom:10px;">
       <div class="text-center">
    <button type="button" class="btn btn-lg btn-warning  mt-4"   data-bs-toggle="modal" data-bs-target="#yes-divorce" data-bs-dismiss="modal">File for Divorce</button>
    <button type="button" class="btn btn-lg btn-warning  mt-4 "  data-bs-toggle="modal" data-bs-target="#yes-divorce" data-bs-dismiss="modal">Proceed without Divorce</button>
    </div>
    </div>
